## Challenge 3: Regression

## Create a regression model that predicts the average monthly spend of a new customers.

### Challenge Instructions
### To complete this challenge:
     1. Use the Adventure Works Cycles customer data you worked with in challenge 1 and 2 to create a regression model that         predicts a customer's average monthly spend. The model should predict average monthly spend for new customers for           whom no information about average monthly spend or previous bike purchases is available.
     
     2. Download the test data. This is the same test data that you have used in classification challenge. This data               includes customer features but does not include bike purchasing or average monthly spend values.
     
     3. Use your model to predict on the corresponding test dataset. Don't forget to apply what you've learned throughout           this course.
     
     4. Go to the next page to check how well your prediction against the actual result.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("FinalAdv.csv")
df.info()

In [ ]:

df.shape

In [ ]:
print(df.CustomerID.unique().shape)

In [ ]:
print(df.CustomerID.shape)

In [ ]:
df.CustomerID.duplicated().sum()

### Get a correlation matrix
### Plot seaborn's heatmap on correlation

In [ ]:
corr = df.corr()
corr

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

fig = plt.figure(figsize= (12,12))
sns.heatmap(corr, cbar = True,  square = True, cmap= 'coolwarm');

### The corr and heatmap gives correlation between label (AveMonthSpend) and other numerical features only.

* And Features Like Customer ID, First Name, AddressLIne1, PhoneNumber donot have infulence on the Label AveMonthSpend.       Remove them from our analysis. 

* Regression algorithm requires features to be of numerical data type. In our data set there are categorical features. Like 
  CountryRegionName, Education, MaritalStatus, Occupation, Gendr etc. So encode these features. 

* For the Categorical features, encode them by creating dummies

In [ ]:
df_cat = df[['CountryRegionName', 'Education', 'Occupation', 'Gender', 'MaritalStatus', 'AgeGroup']]
df_cat_encoded = pd.get_dummies(data = df_cat)

print(df_cat_encoded.info())
print("********\nShape = :", df_cat_encoded.shape)
(df_cat_encoded.head())

### In the test dataset there is no feature of both `BikeBuyer` and `AveMonthSpend` so do not consider them while building the model

In [ ]:
df_num = df[['HomeOwnerFlag', 'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren', 'YearlyIncome']]
df_encoded = pd.concat([df_cat_encoded, df_num], axis = 1, join = 'outer')
df_encoded.head()

In [ ]:
# Draw a correlation matrix and heatmap. But here we have not considered the label 'AvgMonthSpend'. 
# So to see corr and heatmap need to consider the label


corr2 = df_encoded.corr()
corr2
import seaborn as sns
import matplotlib.pyplot as plt

fig = plt.figure(figsize= (14,14))
sns.heatmap(corr2, cbar = True,  square = True, cmap= 'coolwarm');

## Split the dataset

In [44]:
from sklearn.model_selection import train_test_split
import numpy.random as nr

nr.seed(9988)
labels = np.array(df['AveMonthSpend'])
features = np.array(df_encoded)
X_train, X_test, Y_train, Y_test = train_test_split (features, labels, test_size=0.3, random_state = 5)

In [45]:
print(X_train.shape, Y_train.shape)
print(X_test.shape, Y_test.shape)

(11482, 29) (11482,)
(4922, 29) (4922,)

## As the income value is bigger than the other features, need to scale the features.

In [46]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler().fit(X_train)


X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

## Build/Fir/Train the model

In [47]:
from sklearn.linear_model import LinearRegression

LinReg = LinearRegression()
LinReg.fit(X_train, Y_train)

LinearRegression()

In [48]:
print(LinReg.intercept_)
print(LinReg.coef_)

72.44618864071874
[-7.03625953e+12 -4.96421451e+12 -5.25386445e+12 -5.20126668e+12
 -5.40893796e+12 -8.73103905e+12  6.85960684e+13  5.73573036e+13
  5.74912813e+13  6.67648798e+13  4.25283577e+13 -2.39348487e+13
 -2.45181562e+13 -2.22570721e+13 -3.02407782e+13 -2.84251580e+13
 -5.84149861e+13 -5.84149861e+13  2.04892269e+13  2.04892269e+13
 -2.46511589e+12 -1.79723486e+12 -1.25456051e+12 -1.92116159e+12
  3.86505436e-02 -1.26992053e-02  1.65567563e+01  4.31690394e-03
  7.79043527e+00]

## Read the test data from `AW_test.csv` and do the predictions on test data. 

### Before predicting: 
      * make the test_data equal to train data. Which includes the following: 
        - create `Age` column from the given date and date of birth 
        - create `AgeGroup` column 
        - Consider the features which are taken for training the model. 
        - Encode the categorical features 
        - predict the 'Label'

In [49]:
test_df = pd.read_csv('AW_test.csv')
print(test_df.shape)
test_df.head()
test_df.info()

(500, 23)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            500 non-null    int64
 1   Title                 4 non-null      object
 2   FirstName             500 non-null    object
 3   MiddleName            284 non-null    object
 4   LastName              500 non-null    object
 5   Suffix                1 non-null      object
 6   AddressLine1          500 non-null    object
 7   AddressLine2          13 non-null     object
 8   City                  500 non-null    object
 9   StateProvinceName     500 non-null    object
 10  CountryRegionName     500 non-null    object
 11  PostalCode            500 non-null    object
 12  PhoneNumber           500 non-null    object
 13  BirthDate             500 non-null    object
 14  Education             500 non-null    object
 15  Occupation            500 non-null    object
 16  Gender                500 non-null    object
 17  MaritalStatus         500 non-null    object
 18  HomeOwnerFlag         500 non-null    int64
 19  NumberCarsOwned       500 non-null    int64
 20  NumberChildrenAtHome  500 non-null    int64
 21  TotalChildren         500 non-null    int64
 22  YearlyIncome          500 non-null    int64
dtypes: int64(6), object(17)
memory usage: 90.0+ KB

In [50]:
test_df['CurrDate'] = pd.to_datetime('1998-01-01')

test_df['BirthDate'] = pd.to_datetime(test_df['BirthDate'])

test_df['Age'] = (((test_df['CurrDate'] - test_df['BirthDate']).dt.days)/365).astype(int) # gives age in years

test_df

test_df['AgeGroup'] = '' 

test_df.loc[(test_df['Age']<25),'AgeGroup']='Under 25'
test_df.loc[(test_df['Age']>=25) & (test_df['Age']<=45), 'AgeGroup']='Between 25 and 45'
test_df.loc[(test_df['Age']>45) & (test_df['Age']<=55), 'AgeGroup']='Between 45 and 55'
test_df.loc[(test_df['Age']>55), 'AgeGroup']='Over 55'

test_df

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,CurrDate,Age,AgeGroup
0,18988,NaN,Courtney,A,Baker,NaN,8727 Buena Vista Ave.,NaN,Fremont,California,...,F,S,0,2,0,5,86931,1998-01-01,53,Between 45 and 55
1,29135,NaN,Adam,C,Allen,NaN,3491 Cook Street,NaN,Haney,British Columbia,...,M,M,1,2,2,4,100125,1998-01-01,33,Between 25 and 45
2,12156,NaN,Bonnie,NaN,Raji,NaN,359 Pleasant Hill Rd,NaN,Burbank,California,...,F,M,1,2,0,4,103985,1998-01-01,64,Over 55
3,13749,NaN,Julio,C,Alonso,NaN,8945 Euclid Ave.,NaN,Burlingame,California,...,M,M,1,0,0,4,127161,1998-01-01,39,Between 25 and 45
4,27780,NaN,Christy,A,Andersen,NaN,"42, boulevard Tremblay",NaN,Dunkerque,Nord,...,F,M,1,1,2,2,21876,1998-01-01,32,Between 25 and 45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,24211,NaN,Sharon,A,Shan,NaN,5850 Westwood Dr,NaN,Peterborough,England,...,F,S,0,0,0,0,97084,1998-01-01,28,Between 25 and 45
496,23627,NaN,Adrienne,NaN,Navarro,NaN,Buergermeister-ulrich-str 900,Einkaufsabteilung,Erlangen,Bayern,...,F,S,0,4,4,4,110762,1998-01-01,47,Between 45 and 55
497,14500,NaN,Jasmine,C,Ward,NaN,1707 Willowwood Ct.,NaN,Torrance,California,...,F,S,0,4,3,3,138097,1998-01-01,60,Over 55
498,22223,NaN,Gabrielle,NaN,Parker,NaN,6857 Medina Drive,NaN,Mill Valley,California,...,F,M,1,1,0,2,101465,1998-01-01,40,Between 25 and 45
499,29068,NaN,Cassandra,D,Madan,NaN,9409 Cedar Point Loop,NaN,Matraville,New South Wales,...,F,S,0,2,0,4,19108,1998-01-01,50,Between 45 and 55

In [51]:
test_df_cat = test_df[['CountryRegionName', 'Education', 'Occupation', 'Gender', 'MaritalStatus', 'AgeGroup']]
test_df_cat = pd.get_dummies(test_df_cat)
test_df_cat.head()

,CountryRegionName_Australia,CountryRegionName_Canada,CountryRegionName_France,CountryRegionName_Germany,CountryRegionName_United Kingdom,CountryRegionName_United States,Education_Bachelors,Education_Graduate Degree,Education_High School,Education_Partial College,...,Occupation_Professional,Occupation_Skilled Manual,Gender_F,Gender_M,MaritalStatus_M,MaritalStatus_S,AgeGroup_Between 25 and 45,AgeGroup_Between 45 and 55,AgeGroup_Over 55,AgeGroup_Under 25
0,0,0,0,0,0,1,1,0,0,0,...,0,0,1,0,0,1,0,1,0,0
1,0,1,0,0,0,0,1,0,0,0,...,0,1,0,1,1,0,1,0,0,0
2,0,0,0,0,0,1,0,1,0,0,...,0,0,1,0,1,0,0,0,1,0
3,0,0,0,0,0,1,0,1,0,0,...,0,1,0,1,1,0,1,0,0,0
4,0,0,1,0,0,0,0,0,1,0,...,0,0,1,0,1,0,1,0,0,0

In [52]:
test_df_num = test_df[['HomeOwnerFlag', 'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren', 'YearlyIncome']]

test_df_encoded = pd.concat([test_df_cat, test_df_num], axis = 1, join = 'outer')
test_df_encoded.head()

,CountryRegionName_Australia,CountryRegionName_Canada,CountryRegionName_France,CountryRegionName_Germany,CountryRegionName_United Kingdom,CountryRegionName_United States,Education_Bachelors,Education_Graduate Degree,Education_High School,Education_Partial College,...,MaritalStatus_S,AgeGroup_Between 25 and 45,AgeGroup_Between 45 and 55,AgeGroup_Over 55,AgeGroup_Under 25,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
0,0,0,0,0,0,1,1,0,0,0,...,1,0,1,0,0,0,2,0,5,86931
1,0,1,0,0,0,0,1,0,0,0,...,0,1,0,0,0,1,2,2,4,100125
2,0,0,0,0,0,1,0,1,0,0,...,0,0,0,1,0,1,2,0,4,103985
3,0,0,0,0,0,1,0,1,0,0,...,0,1,0,0,0,1,0,0,4,127161
4,0,0,1,0,0,0,0,0,1,0,...,0,1,0,0,0,1,1,2,2,21876

In [53]:
test_features = scaler.transform(test_df_encoded);

C:\Users\bobbala\Anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(

In [54]:
test_predictions = LinReg.predict(test_features)
print(test_predictions)

[ 43.48331741 106.75637222  46.75878261  88.62117768  61.2223514
  45.18458165  96.41441997 128.03309185 103.53054023  55.31931514
  60.89376404  52.68950105  74.92164056  46.31071795  36.81705877
  52.38684689  85.97795743  74.86528907 110.92894637  60.89045029
  68.02729419  76.96532788 146.96737523  85.69170567  53.83838498
  72.84286524  87.1322246  117.57498736  78.92028396  63.56038632
  68.9637025   82.12851225  37.5735727   72.9257872  107.11232006
 102.53929392 149.22028462  92.62647389  57.32532744  87.58225522
  47.32413766  82.01907291  81.32717536  49.12626989  57.01882179
  77.64757397  62.00532073  86.8288718  117.63761301  80.73361785
  79.36466189  95.88092982  82.62443881  67.84464449  48.90747954
  77.28349412  57.96664241  74.86437955  65.5316476   69.12994616
  45.89550535  68.04182844  91.37180498  83.9156408   45.16707402
  81.21712686  82.93910601 133.95667806  65.42570656 107.56247747
  85.98548616  67.84381137  93.35314292  46.10080654  67.49664706
  83.2174731  113.61676128  70.48713765  60.69064654  47.17000097
  87.85324145  75.00075688  48.22738786  91.01139518  86.64317808
  50.63170194  85.79244783 122.09624199  98.08515663  56.2024334
  49.65194215  96.25338007  42.46499068  49.55715087  37.46669702
 140.47135217  59.3888827   48.59373609  47.73025256  54.2977244
 107.21499146  71.95998093  50.75803653 120.42156632  86.1697259
 103.40184815  31.96010438  47.50759113  46.71851011  62.55193041
  97.49223341  48.23278313  85.5579854   66.22239936  75.83152764
  88.05568987  37.81442059  39.95834803  47.82136624  89.46933069
 125.76217626  88.62944668  83.92114197  39.17088709  77.75972656
  59.36226795  67.65252014  91.10437226  87.38375551 121.44425062
  37.14134187  88.59504818 121.39797379  43.61586322  51.24864763
 113.27456726 151.92970204  85.50443216  84.76950382  84.36363206
  90.18825275  44.41999736 113.83555416  35.37543516  79.43360131
  63.6884851   52.15970736  38.35733599  64.52034569  65.27218295
  99.29505235  70.63801454  69.94834262  79.35172819 108.59511225
  36.77762572  76.84171258  66.11923223  80.03928466  96.35338252
  38.84268783  71.2283955   60.55567747  98.03582353 107.93947551
  59.43348797  98.66050217 104.67719881  92.49528234  36.58155032
  80.10656017  79.79566526  81.0700675   83.99508345  41.21066702
  34.6876837  110.74159625  74.77463186  48.92860783 136.02308738
  32.46762138  41.21809656 107.16103208  72.1912636   31.1653849
  42.11052094  61.9211504   66.79788815  51.59193405  59.99693346
  82.57596186  82.00623943  77.47419622  85.93849533  87.25846386
  71.72727884  47.79723764  76.62749028  47.8915407   95.31974226
  58.64550547  81.25857532  33.24746412  80.7963106  130.58443028
  84.22850232 115.84286948  98.87934606  71.16875912  70.62699674
  78.71022401  71.26038185 121.60777317  43.73920988  45.96615168
  78.80997095  46.36983097  58.41192159  80.75987525  81.38569275
  39.72890171  76.0198953  103.65377296  67.30104713  60.50808998
  46.62026632  59.69484119 102.44350948  83.54760323  89.04808638
  91.21432402  48.34669532  73.2241202   69.06138529 108.72815171
  69.48929439  93.75132314  95.07684559  42.71871347  73.60134894
  86.54899482  63.72296041  38.85885343  60.70185784  69.62439412
  47.18906075  77.9369227   69.81443484  83.00061979  86.10631953
 107.96209937  55.49886061  53.87528663  37.63620167 132.67335283
  95.44078956  52.4674008   80.84152161 126.34064797  80.81329701
  37.8383795   68.70825979  88.82371336  66.99274419  81.13893265
  69.45617239  44.59322827  79.02590608 111.7849718   59.6009131
 109.6806437   41.8099579   87.7165602   67.86552328 106.16095264
  40.64507228 139.22592396  51.69751388 116.64563946  74.79647216
  91.00142835  60.5835285   72.75553587  58.44912771  53.22165944
  31.69624313  74.88026839  42.30089331  47.73330101  71.3759143
  79.17731601  50.88271544  86.84760324 141.69880006  76.06787995
 112.61800312 139.54550715  39.32676018  67.53646653  35.82598759
  47.31832668  56.82280849 115.64597791 102.85552311  78.88891125
  34.7879288  101.23020371 145.69782312 124.35525493  78.62112055
  40.69064658 107.20985717 151.31488247  54.1300864   81.26596585
  43.05838502  36.40300368  64.89950609 142.9386428   74.34286375
  74.02024969  68.60813748  52.50573102  35.11506391 138.47718975
  59.79410191  44.03776258  83.73138816  57.65709751  47.08655798
  91.66160031  83.38421379 113.107239    56.95971566  71.391573
 114.50985807  80.27817849  37.5802147  116.7918938   49.61369171
  91.34309633  75.96876162  74.67179401  78.59440836  76.33866157
  65.73890194  79.95904161  58.35814471 112.01682127  83.59602952
  75.1935282   79.21670211  45.29422309  60.23752005  51.3280292
  91.43291359  83.64756622  56.85679916  60.70220647  54.95424125
 110.06646926  70.68793126  77.8025741   77.50286944  69.68073719
  61.49816542  43.33702364  52.59427924  45.3245694   64.31880334
 136.95761087  42.35671047  92.05556544  72.82533787  84.99637695
  46.3461838   76.12697087  44.86107633  40.06429255 139.52493249
  97.56167119  82.64165008  32.40719872  83.77735453  46.29866185
  81.36382734 119.14215206  47.20323864  87.77180874  82.83450638
  91.49438793  57.28548838 118.89412512  73.59715414  46.23228943
  77.27324357  83.9775035   38.03051627  64.21723468  73.73772512
  47.07077686 142.5514202  115.19758188  93.96816169  60.20391366
  86.81937383 106.85724481  44.34877293  82.67798879  47.41727688
 107.96627715  66.72661984  78.32772054  59.52025165  89.17655893
  74.63156696  85.2374952  145.54357166  99.272166    68.08898055
  71.32310973  35.64702431  56.43776263  69.08753125  55.73961189
  45.08802318  49.13949059  62.04676687  60.96926343  63.76098955
  38.52517545 100.23664058  92.2250653  117.3570155  111.49530754
  81.8969682   69.90158819  76.12606554  76.7190225   88.15931295
  52.85041461 110.36107107  91.33124533 112.67208414  39.0152127
  77.93821704  46.51382507 109.57280279  63.6709434   45.85792085
  53.88940161 116.7354477   85.70675966  52.38830035  77.90878803
  52.78478972  81.9832318   70.16452408  50.13417939  93.41268414
  82.09292068  36.72356508 104.11408531  38.03222049 104.35352012
  80.78498719  54.21994986  87.68395306  52.72596145  59.86444441
  47.03320839  87.84967359  94.94730132  49.09978925  61.66438332
  67.83520458  63.51644706 138.08141827 130.9912056  128.46490469
 129.77414776  82.82499805 112.29603943  75.21974854  75.33798454
  29.45316995 146.40266225  51.35230501  88.84860283  94.01229409
  71.20491346 101.339744   138.86144816  79.18500128  56.94013388
  48.31697343  92.06966951  81.03507103  56.71172226  31.54030164]

In [55]:
test_predictions = pd.DataFrame(data=test_predictions);
test_predictions.reset_index();
cid = pd.DataFrame(data=test_df['CustomerID']);
cid.reset_index();
predictions_with_cid = pd.merge(cid, test_predictions, left_index=True, right_index=True);
predictions_with_cid.reset_index();
predictions_with_cid

     CustomerID           0
0         18988   43.483317
1         29135  106.756372
2         12156   46.758783
3         13749   88.621178
4         27780   61.222351
..          ...         ...
495       24211   48.316973
496       23627   92.069670
497       14500   81.035071
498       22223   56.711722
499       29068   31.540302

[500 rows x 2 columns]

In [57]:
predictions_with_cid.to_csv("LinRegression_Pred.csv",index=False)