In [134]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np 
from sklearn import tree
#from sklearn import preprocessing

In [135]:
horses_df = pd.read_csv("horse.csv")
horses_df.info()

'based on the outcome of this we can say there are some missing values'
'e.g., surgery column has total 299 values (not missed any values)'
'e.g., "pain" column has only 244 values means reaming 55 values are missing'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   surgery                299 non-null    object
 1   age                    299 non-null    object
 2   hospital_number        299 non-null    int64
 3   rectal_temp            239 non-null    float64
 4   pulse                  275 non-null    float64
 5   respiratory_rate       241 non-null    float64
 6   temp_of_extremities    243 non-null    object
 7   peripheral_pulse       230 non-null    object
 8   mucous_membrane        252 non-null    object
 9   capillary_refill_time  267 non-null    object
 10  pain                   244 non-null    object
 11  peristalsis            255 non-null    object
 12  abdominal_distention   243 non-null    object
 13  nasogastric_tube       195 non-null    object
 14  nasogastric_reflux     193 non-null    object
 15  nasogastric_reflux_ph  53 non-null     float64
 16  rectal_exam_feces      197 non-null    object
 17  abdomen                181 non-null    object
 18  packed_cell_volume     270 non-null    float64
 19  total_protein          266 non-null    float64
 20  abdomo_appearance      134 non-null    object
 21  abdomo_protein         101 non-null    float64
 22  outcome                299 non-null    object
 23  surgical_lesion        299 non-null    object
 24  lesion_1               299 non-null    int64
 25  lesion_2               299 non-null    int64
 26  lesion_3               299 non-null    int64
 27  cp_data                299 non-null    object
dtypes: float64(7), int64(4), object(17)
memory usage: 65.5+ KB

'e.g., "pain" column has only 244 values means reaming 55 values are missing'

In [136]:
horses_df.isnull()

,surgery,age,hospital_number,rectal_temp,pulse,respiratory_rate,temp_of_extremities,peripheral_pulse,mucous_membrane,capillary_refill_time,...,packed_cell_volume,total_protein,abdomo_appearance,abdomo_protein,outcome,surgical_lesion,lesion_1,lesion_2,lesion_3,cp_data
0,False,False,False,False,False,False,False,False,True,False,...,False,False,True,True,False,False,False,False,False,False
1,False,False,False,False,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True,True,False,False,...,False,False,True,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,False,False,False,True,False,False,False,True,False,False,...,False,False,True,True,False,False,False,False,False,False
295,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
296,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
297,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
298,False,False,False,False,False,False,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False

In [137]:
target = horses_df.outcome
horses_df.drop('outcome', axis = 1, inplace = True)
horses_df.head()

,surgery,age,hospital_number,rectal_temp,pulse,respiratory_rate,temp_of_extremities,peripheral_pulse,mucous_membrane,capillary_refill_time,...,abdomen,packed_cell_volume,total_protein,abdomo_appearance,abdomo_protein,surgical_lesion,lesion_1,lesion_2,lesion_3,cp_data
0,no,adult,530101,38.5,66.0,28.0,cool,reduced,NaN,more_3_sec,...,distend_large,45.0,8.4,NaN,NaN,no,11300,0,0,no
1,yes,adult,534817,39.2,88.0,20.0,NaN,NaN,pale_cyanotic,less_3_sec,...,other,50.0,85.0,cloudy,2.0,no,2208,0,0,no
2,no,adult,530334,38.3,40.0,24.0,normal,normal,pale_pink,less_3_sec,...,normal,33.0,6.7,NaN,NaN,no,0,0,0,yes
3,yes,young,5290409,39.1,164.0,84.0,cold,normal,dark_cyanotic,more_3_sec,...,NaN,48.0,7.2,serosanguious,5.3,yes,2208,0,0,yes
4,no,adult,530255,37.3,104.0,35.0,NaN,NaN,dark_cyanotic,more_3_sec,...,NaN,74.0,7.4,NaN,NaN,no,4300,0,0,no

In [138]:
category_variables = ['surgery', 'age', 'temp_of_extremities','peripheral_pulse',
       'mucous_membrane', 'capillary_refill_time', 'pain', 'peristalsis',
       'abdominal_distention', 'nasogastric_tube', 'nasogastric_reflux', 'rectal_exam_feces', 'abdomen',
      'abdomo_appearance', 'surgical_lesion','cp_data']

for category in category_variables:
    horses_df[category] = pd.get_dummies(horses_df[category])

horses_df

,surgery,age,hospital_number,rectal_temp,pulse,respiratory_rate,temp_of_extremities,peripheral_pulse,mucous_membrane,capillary_refill_time,...,abdomen,packed_cell_volume,total_protein,abdomo_appearance,abdomo_protein,surgical_lesion,lesion_1,lesion_2,lesion_3,cp_data
0,1,1,530101,38.5,66.0,28.0,0,0,0,0,...,1,45.0,8.4,0,NaN,1,11300,0,0,1
1,0,1,534817,39.2,88.0,20.0,0,0,0,0,...,0,50.0,85.0,0,2.0,1,2208,0,0,1
2,1,1,530334,38.3,40.0,24.0,0,0,0,0,...,0,33.0,6.7,0,NaN,1,0,0,0,0
3,0,0,5290409,39.1,164.0,84.0,1,0,0,0,...,0,48.0,7.2,0,5.3,0,2208,0,0,0
4,1,1,530255,37.3,104.0,35.0,0,0,0,0,...,0,74.0,7.4,0,NaN,1,4300,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,0,1,533886,NaN,120.0,70.0,1,0,0,0,...,1,55.0,65.0,0,NaN,1,3205,0,0,1
295,1,1,527702,37.2,72.0,24.0,0,0,0,0,...,0,44.0,NaN,0,3.3,0,2208,0,0,0
296,0,1,529386,37.5,72.0,30.0,1,0,0,0,...,1,60.0,6.8,0,NaN,0,3205,0,0,1
297,0,1,530612,36.5,100.0,24.0,0,0,0,0,...,0,50.0,6.0,0,3.4,0,2208,0,0,0
298,0,1,534618,37.2,40.0,20.0,0,0,0,0,...,0,36.0,62.0,1,1.0,1,6112,0,0,1

In [139]:
X = horses_df
y = target
print(type(X))

<class 'pandas.core.frame.DataFrame'>

In [140]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state =1)
print(type(X_train))

<class 'pandas.core.frame.DataFrame'>

In [141]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values= np.nan,strategy="most_frequent")
X_train = imp.fit_transform(X_train)
X_test = imp.fit_transform(X_test)
print(type(X_train))

<class 'numpy.ndarray'>

In [142]:
from sklearn.tree import DecisionTreeClassifier
DTclassifier = DecisionTreeClassifier()
DTclassifier.fit(X_train,y_train)

DecisionTreeClassifier()

In [143]:
y_predict = DTclassifier.predict(X_test)
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_predict,y_test)
print(accuracy)

0.5666666666666667

In [152]:

from sklearn.ensemble import RandomForestClassifier
RFClassifier = RandomForestClassifier()
RFClassifier.fit(X_train, y_train)

y_pred = RFClassifier.predict(X_test)

accuracy = metrics.accuracy_score(y_pred, y_test)
accuracy

0.7333333333333333